* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ae93da;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

.label-of-project {
  font-size: 1.1rem;
  text-align: center;
}

.month-info-container {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.month-info-container .name-of-month {
  font-size: 1rem;
  text-align: center;
}

.month-info-container button {
  padding: 3px 10px;
  margin: 0 1em;
  background-color: #a663cc;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  padding: 5px;
  width: 90vw;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #310069;
  color: white;
  font-size: 0.8rem;
  border-radius: 10px;
  overflow: hidden;
}

.main .calendar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.main__weekday {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.main__day {
  padding: 0 0.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #a663cc;
}

.main__day, .main__day-of-month {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
}

.main__day-of-month {
  padding: 5px;
  background-color: #6f2dbd;
  cursor: pointer;
}

.main__list-of-days {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  list-style: none;
}

.main__empty-field-of-day {
  background-color: #b084e2;
  border: none;
  border: 1px solid black;
}

.popup {
  position: absolute;
  width: 80vw;
  min-height: 300px;
  display: none;
  background-color: #b084e2;
  z-index: 1;
  border-radius: 10px;
}

.popup__choosen-day-date {
  margin-top: 1em;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

.popup__cancel-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  margin: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.popup__input-container {
  margin: 0.5em 0 1.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup__input, .popup__input-add-btn {
  padding: 3px;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
}

.popup__input-add-btn {
  cursor: pointer;
}

.popup__input-error {
  margin: 2em 0;
  text-align: center;
}

.popup__task-list .task {
  margin: 0.5em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.popup__edit-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__edit-task {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80vw;
  min-height: 200px;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.popup__edit-task input {
  padding: 3px;
  border-radius: 5px;
}

.popup__edit-btn-container {
  margin: 1em 0;
}

.popup__edit-btn-container button {
  padding: 0.1em 1em;
  margin: 0 0.5em;
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.popup .btn-container button {
  padding: 3px;
  margin: 0 0.2em;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.popup .btn-container button__edit-task {
  width: 55vw;
}

.popup .mark-line {
  color: #7a7a7a;
  text-decoration: line-through;
}

.bg-shadow {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-block {
  display: block;
}

@media (min-width: 576px) {
  .label-of-project {
    font-size: 1.2rem;
  }
  .month-info-container .name-of-month {
    font-size: 1.1rem;
  }
  .month-info-container button {
    font-size: 1rem;
  }
  .main {
    width: 80vw;
    font-size: 1rem;
  }
  .popup {
    width: 70vw;
  }
  .popup__choosen-day-date {
    font-size: 1rem;
  }
  .popup__cancel-btn {
    font-size: 1rem;
  }
  .popup__edit-task {
    width: 65vw;
  }
}

@media (min-width: 768px) {
  .label-of-project {
    font-size: 1.4rem;
  }
  .month-info-container .name-of-month {
    font-size: 1.2rem;
  }
  .main {
    width: 70vw;
    font-size: 1.1rem;
  }
  .popup {
    width: 60vw;
  }
  .popup__cancel-btn {
    font-size: 1.1rem;
  }
  .popup__input, .popup__input-add-btn {
    padding: 5px;
  }
  .popup .task {
    font-size: 1.1rem;
  }
  .popup .btn-container button {
    padding: 5px;
  }
  .popup__edit-task {
    width: 55vw;
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .label-of-project {
    font-size: 1.6rem;
  }
  .month-info-container .name-of-month {
    font-size: 1.3rem;
  }
  .main {
    width: 750px;
    font-size: 1.2rem;
  }
  .popup {
    width: 50vw;
  }
  .popup__cancel-btn {
    font-size: 1.3rem;
  }
  .popup__edit-task {
    width: 45vw;
  }
}

@media (min-width: 1200px) {
  .label-of-project {
    font-size: 1.9rem;
  }
  .month-info-container .name-of-month {
    font-size: 1.4rem;
  }
  .month-info-container button {
    font-size: 1.1rem;
  }
  .main {
    width: 950px;
    display: -ms-grid;
    display: grid;
    font-size: 1.3rem;
    text-align: center;
  }
  .main .calendar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__weekday {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .main__day {
    padding: 1.5em 0;
  }
  .main__list-of-days {
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-auto-flow: row;
  }
  .popup {
    width: 650px;
  }
  .popup__choosen-day-date {
    font-size: 1.1rem;
  }
  .popup__edit-task {
    width: 600px;
  }
}
/*# sourceMappingURL=style.css.map */