* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ae93da;
	font-family: "Roboto", sans-serif;
	font-size: 62.5%;
}

.label-of-project {
	font-size: 1.1rem;
	text-align: center;
}

.month-info-container {
	margin: 1em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	.name-of-month {
		font-size: 1rem;
		text-align: center;
	}
	button {
		padding: 3px 10px;
		margin: 0 1em;
		background-color: #a663cc;
		color: white;
		border-radius: 5px;
		cursor: pointer;
	}
}

.main {
	padding: 5px;
	width: 90vw;
	min-height: 550px;
	display: flex;
	background-color: #310069;
	color: white;
	font-size: 0.8rem;
	border-radius: 10px;
	overflow: hidden;
	.calendar-container {
		display: flex;
		width: 100%;
	}
	&__weekday {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: auto;
	}
	&__day {
		padding: 0 0.5em;
		justify-content: center;
		align-items: center;
		background-color: #a663cc;
	}
	&__day,
	&__day-of-month {
		margin: 5px;
		display: flex;
		border: 1px solid black;
	}
	&__day-of-month {
		padding: 5px;
		background-color: #6f2dbd;
		cursor: pointer;
	}
	&__list-of-days {
		width: 100%;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: auto;
		grid-template-rows: repeat(7, 1fr);
		list-style: none;
	}
	&__empty-field-of-day {
		background-color: #b084e2;
		border: none;
		border: 1px solid black;
	}
}

.popup {
	position: absolute;
	width: 80vw;
	min-height: 300px;
	display: none;
	background-color: #b084e2;
	z-index: 1;
	border-radius: 10px;
	&__choosen-day-date {
		margin-top: 1em;
		font-size: 0.9rem;
		font-weight: bold;
		text-align: center;
	}
	&__cancel-btn {
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px;
		margin: 5px;
		font-size: 0.9rem;
		cursor: pointer;
	}
	&__input-container {
		margin: 0.5em 0 1.5em 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	&__input,
	&__input-add-btn {
		padding: 3px;
		margin: 5px;
		background-color: white;
		border-radius: 5px;
	}
	&__input-add-btn {
		cursor: pointer;
	}
	&__input-error {
		margin: 2em 0;
		text-align: center;
	}
	&__task-list {
		.task {
			margin: 0.5em 1em;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			font-size: 0.8rem;
			text-transform: capitalize;
		}
	}
	.btn-container {
		button {
			padding: 3px;
			margin: 0 0.2em;
			border-radius: 5px;
			cursor: pointer;
		}
	}
	.mark-btn {
	}
	.mark-line {
		background-color: rgb(156, 156, 156);
		text-decoration: line-through;
	}
	.edit-btn {
	}
	.delete-btn {
	}
}

.bg-shadow {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}

.display-block {
	display: block;
}

@media (min-width: 576px) {
	.label-of-project {
		font-size: 1.2rem;
	}
	.month-info-container {
		.name-of-month {
			font-size: 1.1rem;
		}
		button {
			font-size: 1rem;
		}
	}
	.main {
		width: 80vw;
		font-size: 1rem;
	}
	.popup {
		width: 70vw;
		&__choosen-day-date {
			font-size: 1rem;
		}
		&__cancel-btn {
			font-size: 1rem;
		}
	}
}

@media (min-width: 768px) {
	.label-of-project {
		font-size: 1.4rem;
	}
	.month-info-container {
		.name-of-month {
			font-size: 1.2rem;
		}
	}
	.main {
		width: 70vw;
		font-size: 1.1rem;
	}
	.popup {
		width: 60vw;
		&__cancel-btn {
			font-size: 1.1rem;
		}
		&__input,
		&__input-add-btn {
			padding: 5px;
		}
		.task {
			font-size: 1.1rem;
		}
		.btn-container {
			button {
				padding: 5px;
			}
		}
	}
}

@media (min-width: 992px) {
	.label-of-project {
		font-size: 1.6rem;
	}
	.month-info-container {
		.name-of-month {
			font-size: 1.3rem;
		}
	}
	.main {
		width: 750px;
		font-size: 1.2rem;
	}
	.popup {
		width: 50vw;
		&__cancel-btn {
			font-size: 1.3rem;
		}
	}
}

@media (min-width: 1200px) {
	.label-of-project {
		font-size: 1.9rem;
	}
	.month-info-container {
		.name-of-month {
			font-size: 1.4rem;
		}
		button {
			font-size: 1.1rem;
		}
	}
	.main {
		width: 950px;
		display: grid;
		font-size: 1.3rem;
		text-align: center;
		.calendar-container {
			display: flex;
			flex-direction: column;
		}
		&__weekday {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-template-rows: auto;
		}
		&__day {
			padding: 1.5em 0;
		}
		&__list-of-days {
			height: 100%;
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			grid-template-rows: auto;
			grid-auto-flow: row;
		}
	}
	.popup {
		width: 650px;
		&__choosen-day-date {
			font-size: 1.1rem;
		}
	}
}
